@use "./src/scss/mixins";
@use "./src/scss/settings";

.heartBlock {
  margin-top: 250px;
  position: relative;
  margin-bottom: 105px;
}

.gradient {
  margin: 0 auto;
  width: 60%;
  height: 340px;
  background: #FFFFFF;
  mix-blend-mode: overlay;
  filter: blur(400px);
}

.heart {
  position: absolute;
  display: block;
  top: -145px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  max-width: 100%;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #F2F2F2;
  display: block;
  z-index: 9999999;
  position: relative;
  text-align: center;
  top: -100px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 102px;
  justify-content: center;
  position: relative;
  margin-bottom: 70px;
  row-gap: 20px;

  button {
    width: 229px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      padding: 14px 0 !important;
      margin: 3px;
    }
  }
}

.moneys {
  height: calc(100% + 205px);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -164px;
  overflow: hidden;
  margin-top: -100px;

  @include mixins.media-max(settings.$lg-break) {
    margin-left: -90px;
  }

  @include mixins.media-max(settings.$md-break) {
    margin-left: -70px;
  }

  @include mixins.media-max(settings.$sm-break) {
    margin-left: -50px;
  }

  @include mixins.media-max(settings.$xs-break) {
    margin-left: -20px;
  }
}

.money {
  position: absolute;
}

.money1 {
  top: 370px;
  width: 128.09px;

  @include mixins.media-max(settings.$md-break) {
    width: 100px;
  }
}

.money2 {
  bottom: -75px;
  left: 200px;
  width: 150px;

  @include mixins.media-max(settings.$md-break) {
    width: 120px;
    bottom: -50px;
  }
}

.money3 {
  left: 300px;
  top: 190px;
  height: 150.82px;

  @include mixins.media-max(settings.$md-break) {
    left: 200px;
    height: 120px;
  }

  @include mixins.media-max(settings.$sm-break) {
    left: 100px;
    height: 120px;
  }

  @include mixins.media-max(settings.$xs-break) {
    left: 50px;
    height: 100px;
  }
}

.money4 {
  width: 252px;
  right: 200px;
  top: 25px;

  @include mixins.media-max(settings.$md-break) {
    right: 100px;
    width: 150px;
  }

  @include mixins.media-max(settings.$xs-break) {
    right: 20px;
    width: 120px;
  }
}

.money5 {
  width: 150px;
  right: 0;
  top: 520px;

  @include mixins.media-max(settings.$md-break) {
    width: 120px;
  }
}

.icons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  align-items: center;
  gap: 32px;
  img {
    height: 56px;
    width: 56px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }
}