@use './src/scss/settings';
@use './src/scss/mixins';

.select {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}

.arrow {
  @include mixins.media-max(settings.$sm-break){
    width: 10px;
    height: 12px;
  }
}

.options {
  z-index: 10;
  border: 1px solid settings.$stroke;
  border-radius: 12px;
  background-color: settings.$white;
  position: absolute;
  display: none;
  gap: 5px;
  top: calc(100% + 10px);
  padding: 10px 0;

  .option {
    padding: 5px 20px;
    cursor: pointer;
    justify-content: flex-start;
    white-space: pre;
    color: settings.$mainBg;
    border-radius: 12px;
    &:hover {
      background-color: settings.$mainBg;
      color: settings.$white;
    }
  }
}

.show {
  display: grid;
}