.signIn {
  flex: 1;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position-y: bottom;
  background-image: url("../../assets/images/loginBg.jpg");
  padding: 50px 0;

  .formWrapper {
    position: relative;
    max-width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .signInTitle {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 54px;
  }
}

.passwordInput {
  div {
    top: 50%;
    transform: translateY(calc(-50% + 18px));
    display: flex;
    align-items: center;
    right: 16px;
    left: auto;
  }
}

.forgotPwd {
  margin: 0 auto 0 0;
}

.signInButton {
  margin-top: 38px !important;
}

.signUpLink {
  font-weight: 600;
}