@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// break points (px)
$lg-break: 1199;
$md-break: 991;
$sm-break: 767;
$xs-break: 575;
$l-break: 426;
$xxs-break: 359;

$main-font: 'Poppins', sans-serif;

// colors
$mainBg: #0C032E;
$stroke: #EAEAEA;
$white: #FFFFFF;
$primary: #4426B9;
$purpleBorder: #4125B6;
$primaryBg: #130645;