@use "./src/scss/mixins";
@use "./src/scss/settings";

.productWrapper {
  width: 329px;
  max-width: 100%;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(174, 155, 255, 0) 6.77%, #4024B2 100%);
}

.productSecondWrapper {
  margin: 0 2px 2px;
  border-radius: 24px;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  background: url("../../../../assets/images/Rectangle.png") no-repeat top center, #130645;
}

.product {
  background: radial-gradient(100% 100% at 49.85% 0%, rgba(64, 36, 179, 0.1) 0%, rgba(65, 37, 182, 0) 100%);
  backdrop-filter: blur(100px);
  -webkit-backface-visibility: hidden;
  -webkit-transform:translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 24px;
  padding: 108px 50px;
  position: relative;

  .image {
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    color: #F9F9F9;
    text-align: center;
  }

  .description {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  @include mixins.media-max(settings.$sm-break) {
    padding: 70px 35px;
  }

  @include mixins.media-max(settings.$xs-break) {
    padding: 50px 20px;
  }
}
